/*
 * River REST API
 *
 * Cross-database SQL federation engine: River federation, Warden instance orchestration, query files, notebooks, the filestore (bucket volumes mounted at /home/river/rfs inside notebook runtimes) and the Lily AI. Source of truth for route shapes is `src/api.rs` — this spec tracks it, schemas are indicative. Auth: a `Bearer <jwt>` from /auth/register|login|refresh, an `x-api-key` `rqk_…` key issued post-login, or an operator-configured static key (bootstrap org). Public (no auth): `/v1/health`, `/`, `/v1/ai/status`, `/v1/auth/login|register|refresh`. Everything else is 401 fail-closed and RBAC-gated (`module:resource:action` permissions per org role). 
 *
 * The version of the OpenAPI document: 0.9.0
 * Generated by: https://github.com/openapitools/openapi-generator.git
 */

#nullable enable

using System;
using System.IO;
using System.Linq;
using System.Collections;
using System.Collections.Generic;
using System.Text;
using System.Text.Json;
using System.Text.RegularExpressions;
using River.Model;
using System.Runtime.CompilerServices;
using System.Net.Http.Headers;

[assembly: InternalsVisibleTo("River.Test")]

namespace River.Client
{
    /// <summary>
    /// Utility functions providing some benefit to API client consumers.
    /// </summary>
    public static partial class ClientUtils
    {

        /// <summary>
        /// A delegate for events.
        /// </summary>
        /// <typeparam name="T"></typeparam>
        /// <param name="sender"></param>
        /// <param name="e"></param>
        /// <returns></returns>
        public delegate void EventHandler<T>(object sender, T e) where T : EventArgs;

        /// <summary>
        /// An enum of headers
        /// </summary>
        public enum ApiKeyHeader
        {
            /// <summary>
            /// The x-api-key header
            /// </summary>
            X_api_key
        }

        /// <summary>
        /// Converte an ApiKeyHeader to a string
        /// </summary>
        /// <param name="value"></param>
        /// <returns></returns>
        /// <exception cref="System.ComponentModel.InvalidEnumArgumentException"></exception>
        public static string ApiKeyHeaderToString(ApiKeyHeader value)
        {
            return value switch
            {
                ApiKeyHeader.X_api_key => "x-api-key",
                _ => throw new System.ComponentModel.InvalidEnumArgumentException(nameof(value), (int)value, typeof(ApiKeyHeader)),
            };
        }

        /// <summary>
        /// Returns true when deserialization succeeds.
        /// </summary>
        /// <typeparam name="T"></typeparam>
        /// <param name="json"></param>
        /// <param name="options"></param>
        /// <param name="result"></param>
        /// <returns></returns>
        public static bool TryDeserialize<T>(string json, JsonSerializerOptions options, [global::System.Diagnostics.CodeAnalysis.NotNullWhen(true)] out T? result)
        {
            try
            {
                result = JsonSerializer.Deserialize<T>(json, options);
                return result != null;
            }
            catch (Exception)
            {
                result = default;
                return false;
            }
        }

        /// <summary>
        /// Returns true when deserialization succeeds.
        /// </summary>
        /// <typeparam name="T"></typeparam>
        /// <param name="reader"></param>
        /// <param name="options"></param>
        /// <param name="result"></param>
        /// <returns></returns>
        public static bool TryDeserialize<T>(ref Utf8JsonReader reader, JsonSerializerOptions options, [global::System.Diagnostics.CodeAnalysis.NotNullWhen(true)] out T? result)
        {
            try
            {
                result = JsonSerializer.Deserialize<T>(ref reader, options);
                return result != null;
            }
            catch (Exception)
            {
                result = default;
                return false;
            }
        }

        /// <summary>
        /// If parameter is DateTime, output in a formatted string (default ISO 8601), customizable with Configuration.DateTime.
        /// If parameter is a list, join the list with ",".
        /// Otherwise just return the string.
        /// </summary>
        /// <param name="obj">The parameter (header, path, query, form).</param>
        /// <param name="format">The DateTime serialization format.</param>
        /// <returns>Formatted string.</returns>
        public static string? ParameterToString(object? obj, string? format = ISO8601_DATETIME_FORMAT)
        {
            if (obj is DateTime dateTime)
                // Return a formatted date string - Can be customized with Configuration.DateTimeFormat
                // Defaults to an ISO 8601, using the known as a Round-trip date/time pattern ("o")
                // https://msdn.microsoft.com/en-us/library/az4se3k1(v=vs.110).aspx#Anchor_8
                // For example: 2009-06-15T13:45:30.0000000
                return dateTime.ToString(format);
            if (obj is DateTimeOffset dateTimeOffset)
                // Return a formatted date string - Can be customized with Configuration.DateTimeFormat
                // Defaults to an ISO 8601, using the known as a Round-trip date/time pattern ("o")
                // https://msdn.microsoft.com/en-us/library/az4se3k1(v=vs.110).aspx#Anchor_8
                // For example: 2009-06-15T13:45:30.0000000
                return dateTimeOffset.ToString(format);
            if (obj is DateOnly dateOnly)
                return dateOnly.ToString(format);
            if (obj is bool boolean)
                return boolean
                    ? "true"
                    : "false";
            if (obj is AiConversationsPostRequestMessagesInner.RoleEnum aiConversationsPostRequestMessagesInnerRoleEnum)
                return AiConversationsPostRequestMessagesInner.RoleEnumToJsonValue(aiConversationsPostRequestMessagesInnerRoleEnum);
            if (obj is AuthApiKeysPostRequest.RoleEnum authApiKeysPostRequestRoleEnum)
                return AuthApiKeysPostRequest.RoleEnumToJsonValue(authApiKeysPostRequestRoleEnum);
            if (obj is AuthUsersIdPatchRequest.RoleEnum authUsersIdPatchRequestRoleEnum)
                return AuthUsersIdPatchRequest.RoleEnumToJsonValue(authUsersIdPatchRequestRoleEnum);
            if (obj is AuthUsersPostRequest.RoleEnum authUsersPostRequestRoleEnum)
                return AuthUsersPostRequest.RoleEnumToJsonValue(authUsersPostRequestRoleEnum);
            if (obj is BiDashboard.ThemeEnum biDashboardThemeEnum)
                return BiDashboard.ThemeEnumToJsonValue(biDashboardThemeEnum);
            if (obj is BiDashboardData.SourceEnum biDashboardDataSourceEnum)
                return BiDashboardData.SourceEnumToJsonValue(biDashboardDataSourceEnum);
            if (obj is BiDashboardsIdDataPostRequest.ModeEnum biDashboardsIdDataPostRequestModeEnum)
                return BiDashboardsIdDataPostRequest.ModeEnumToJsonValue(biDashboardsIdDataPostRequestModeEnum);
            if (obj is BiEmbedTokenDataPostRequest.ModeEnum biEmbedTokenDataPostRequestModeEnum)
                return BiEmbedTokenDataPostRequest.ModeEnumToJsonValue(biEmbedTokenDataPostRequestModeEnum);
            if (obj is BiFilter.KindEnum biFilterKindEnum)
                return BiFilter.KindEnumToJsonValue(biFilterKindEnum);
            if (obj is ConnectionSummary.BackendTypeEnum connectionSummaryBackendTypeEnum)
                return ConnectionSummary.BackendTypeEnumToJsonValue(connectionSummaryBackendTypeEnum);
            if (obj is ConnectionSummary.StatusEnum connectionSummaryStatusEnum)
                return ConnectionSummary.StatusEnumToJsonValue(connectionSummaryStatusEnum);
            if (obj is DatabasesPostRequest.BackendEnum databasesPostRequestBackendEnum)
                return DatabasesPostRequest.BackendEnumToJsonValue(databasesPostRequestBackendEnum);
            if (obj is DesignerDesignsIdPreviewPostRequest.DialectEnum designerDesignsIdPreviewPostRequestDialectEnum)
                return DesignerDesignsIdPreviewPostRequest.DialectEnumToJsonValue(designerDesignsIdPreviewPostRequestDialectEnum);
            if (obj is DesignerDesignsIdPublishPostRequest.DialectEnum designerDesignsIdPublishPostRequestDialectEnum)
                return DesignerDesignsIdPublishPostRequest.DialectEnumToJsonValue(designerDesignsIdPublishPostRequestDialectEnum);
            if (obj is DesignerMigration.StatusEnum designerMigrationStatusEnum)
                return DesignerMigration.StatusEnumToJsonValue(designerMigrationStatusEnum);
            if (obj is DesignerModelRelationshipsInner.OnDeleteEnum designerModelRelationshipsInnerOnDeleteEnum)
                return DesignerModelRelationshipsInner.OnDeleteEnumToJsonValue(designerModelRelationshipsInnerOnDeleteEnum);
            if (obj is DesignerModelRelationshipsInner.OnUpdateEnum designerModelRelationshipsInnerOnUpdateEnum)
                return DesignerModelRelationshipsInner.OnUpdateEnumToJsonValue(designerModelRelationshipsInnerOnUpdateEnum);
            if (obj is FilestoreNodesIdPatchRequest.VisibilityEnum filestoreNodesIdPatchRequestVisibilityEnum)
                return FilestoreNodesIdPatchRequest.VisibilityEnumToJsonValue(filestoreNodesIdPatchRequestVisibilityEnum);
            if (obj is QueryResult.StrategyEnum queryResultStrategyEnum)
                return QueryResult.StrategyEnumToJsonValue(queryResultStrategyEnum);
            if (obj is ServersAliasUsersPostRequest.PrivilegeEnum serversAliasUsersPostRequestPrivilegeEnum)
                return ServersAliasUsersPostRequest.PrivilegeEnumToJsonValue(serversAliasUsersPostRequestPrivilegeEnum);
            if (obj is TableFilter.OpEnum tableFilterOpEnum)
                return TableFilter.OpEnumToJsonValue(tableFilterOpEnum);
            if (obj is TablesAliasRowsQueryPostRequestSortInner.DirEnum tablesAliasRowsQueryPostRequestSortInnerDirEnum)
                return TablesAliasRowsQueryPostRequestSortInner.DirEnumToJsonValue(tablesAliasRowsQueryPostRequestSortInnerDirEnum);
            if (obj is TileData.StatusEnum tileDataStatusEnum)
                return TileData.StatusEnumToJsonValue(tileDataStatusEnum);
            if (obj is ToolsAliasExportPostRequest.FormatEnum toolsAliasExportPostRequestFormatEnum)
                return ToolsAliasExportPostRequest.FormatEnumToJsonValue(toolsAliasExportPostRequestFormatEnum);
            if (obj is ToolsAliasImportPostRequest.FormatEnum toolsAliasImportPostRequestFormatEnum)
                return ToolsAliasImportPostRequest.FormatEnumToJsonValue(toolsAliasImportPostRequestFormatEnum);
            if (obj is WardenInstance.BackendEnum wardenInstanceBackendEnum)
                return WardenInstance.BackendEnumToJsonValue(wardenInstanceBackendEnum);
            if (obj is WardenInstance.StatusEnum wardenInstanceStatusEnum)
                return WardenInstance.StatusEnumToJsonValue(wardenInstanceStatusEnum);
            if (obj is ICollection collection)
            {
                List<string?> entries = new();
                foreach (var entry in collection)
                    entries.Add(ParameterToString(entry));
                return string.Join(",", entries);
            }

            return Convert.ToString(obj, System.Globalization.CultureInfo.InvariantCulture);
        }

        /// <summary>
        /// URL encode a string
        /// Credit/Ref: https://github.com/restsharp/RestSharp/blob/master/RestSharp/Extensions/StringExtensions.cs#L50
        /// </summary>
        /// <param name="input">string to be URL encoded</param>
        /// <returns>Byte array</returns>
        public static string UrlEncode(string input)
        {
            const int maxLength = 32766;

            if (input == null)
            {
                throw new ArgumentNullException("input");
            }

            if (input.Length <= maxLength)
            {
                return Uri.EscapeDataString(input);
            }

            StringBuilder sb = new StringBuilder(input.Length * 2);
            int index = 0;

            while (index < input.Length)
            {
                int length = Math.Min(input.Length - index, maxLength);
                string subString = input.Substring(index, length);

                sb.Append(Uri.EscapeDataString(subString));
                index += subString.Length;
            }

            return sb.ToString();
        }

        /// <summary>
        /// Encode string in base64 format.
        /// </summary>
        /// <param name="text">string to be encoded.</param>
        /// <returns>Encoded string.</returns>
        public static string Base64Encode(string text)
        {
            return Convert.ToBase64String(global::System.Text.Encoding.UTF8.GetBytes(text));
        }

        /// <summary>
        /// Convert stream to byte array
        /// </summary>
        /// <param name="inputStream">Input stream to be converted</param>
        /// <returns>Byte array</returns>
        public static byte[] ReadAsBytes(Stream inputStream)
        {
            using (var ms = new MemoryStream())
            {
                inputStream.CopyTo(ms);
                return ms.ToArray();
            }
        }

        /// <summary>
        /// Select the Content-Type header's value from the given content-type array:
        /// if JSON type exists in the given array, use it;
        /// otherwise use the first one defined in 'consumes'
        /// </summary>
        /// <param name="contentTypes">The Content-Type array to select from.</param>
        /// <returns>The Content-Type header to use.</returns>
        public static string? SelectHeaderContentType(string[] contentTypes)
        {
            if (contentTypes.Length == 0)
                return null;

            foreach (var contentType in contentTypes)
            {
                if (IsJsonMime(contentType))
                    return contentType;
            }

            return contentTypes[0]; // use the first content type specified in 'consumes'
        }

        /// <summary>
        /// Select the Accept header's value from the given accepts array:
        /// if JSON exists in the given array, use it;
        /// otherwise use all of them (joining into a string)
        /// </summary>
        /// <param name="accepts">The accepts array to select from.</param>
        /// <returns>The Accept header to use.</returns>
        public static string? SelectHeaderAccept(string[] accepts)
        {
            if (accepts.Length == 0)
                return null;

            if (accepts.Contains("application/json", StringComparer.OrdinalIgnoreCase))
                return "application/json";

            return string.Join(",", accepts);
        }

        

        /// <summary>
        /// Select the Accept header's value from the given accepts array:
        /// if JSON exists in the given array, use it;
        /// otherwise use all of them.
        /// </summary>
        /// <param name="accepts">The accepts array to select from.</param>
        /// <returns>The Accept header values to use.</returns>
        public static IEnumerable<MediaTypeWithQualityHeaderValue> SelectHeaderAcceptArray(string[] accepts)
        {
            if (accepts.Length == 0)
                    return [];

            if (accepts.Contains("application/json", StringComparer.OrdinalIgnoreCase))
                    return [MediaTypeWithQualityHeaderValue.Parse("application/json")];

            return accepts.Select(MediaTypeWithQualityHeaderValue.Parse);
        }

        /// <summary>
        /// Provides a case-insensitive check that a provided content type is a known JSON-like content type.
        /// </summary>
        [GeneratedRegex("(?i)^(application/json|[^;/ \t]+/[^;/ \t]+[+]json)[ \t]*(;.*)?$")]
        private static partial Regex JsonRegex();

        /// <summary>
        /// Check if the given MIME is a JSON MIME.
        /// JSON MIME examples:
        ///    application/json
        ///    application/json; charset=UTF8
        ///    APPLICATION/JSON
        ///    application/vnd.company+json
        /// </summary>
        /// <param name="mime">MIME</param>
        /// <returns>Returns True if MIME type is json.</returns>
        public static bool IsJsonMime(string mime)
        {
            if (string.IsNullOrWhiteSpace(mime)) return false;

            return JsonRegex().IsMatch(mime) || mime.Equals("application/json-patch+json");
        }

        /// <summary>
        /// Get the discriminator
        /// </summary>
        /// <param name="utf8JsonReader"></param>
        /// <param name="discriminator"></param>
        /// <returns></returns>
        /// <exception cref="JsonException"></exception>
        public static string? GetDiscriminator(Utf8JsonReader utf8JsonReader, string discriminator)
        {
            int currentDepth = utf8JsonReader.CurrentDepth;

            if (utf8JsonReader.TokenType != JsonTokenType.StartObject && utf8JsonReader.TokenType != JsonTokenType.StartArray)
                throw new JsonException();

            JsonTokenType startingTokenType = utf8JsonReader.TokenType;

            while (utf8JsonReader.Read())
            {
                if (startingTokenType == JsonTokenType.StartObject && utf8JsonReader.TokenType == JsonTokenType.EndObject && currentDepth == utf8JsonReader.CurrentDepth)
                    break;

                if (startingTokenType == JsonTokenType.StartArray && utf8JsonReader.TokenType == JsonTokenType.EndArray && currentDepth == utf8JsonReader.CurrentDepth)
                    break;

                if (utf8JsonReader.TokenType == JsonTokenType.PropertyName && currentDepth == utf8JsonReader.CurrentDepth - 1)
                {
                    string? localVarJsonPropertyName = utf8JsonReader.GetString();
                    utf8JsonReader.Read();

                    if (localVarJsonPropertyName != null && localVarJsonPropertyName.Equals(discriminator))
                        return utf8JsonReader.GetString();
                }
            }

            throw new JsonException("The specified discriminator was not found.");
        }

        /// <summary>
        /// Determines if the provided header is a content header
        /// </summary>
        /// <param name="header">The header to check</param>
        /// <returns>True if a content header; False otherwise</returns>
        public static bool IsContentHeader(string header)
        {
            return ContentHeaders.Contains(header.ToLowerInvariant());
        }

        /// <summary>
        /// The collection of content headers as per
        /// https://learn.microsoft.com/en-us/dotnet/api/system.net.http.httpcontent.headers
        /// </summary>
        private static readonly string[] ContentHeaders = new String[] 
        {
            "allow",
            "content-encoding",
            "content-disposition",
            "content-language",
            "content-length",
            "content-location",
            "content-md5",
            "content-range",
            "content-type",
            "expires",
            "last-modified"
        };

        /// <summary>
        /// The base path of the API
        /// </summary>
        public const string BASE_ADDRESS = "https://api.warden.ke/v1";

        /// <summary>
        /// The scheme of the API
        /// </summary>
        public const string SCHEME = "https";

        /// <summary>
        /// The context path of the API
        /// </summary>
        public const string CONTEXT_PATH = "/v1";

        /// <summary>
        /// The host of the API
        /// </summary>
        public const string HOST = "api.warden.ke";

        /// <summary>
        /// The format to use for DateTime serialization
        /// </summary>
        public const string ISO8601_DATETIME_FORMAT = "o";
    }
}
